@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.float-label {
  position: relative;
}

.labelF {
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 11px;
  transition: 0.9s ease all;

  top: -8px;
  font-size: 12px !important;
  background: white;
  padding: 0 4px;
  margin-left: -4px;
  /* color: gray; */
  z-index: 10;
}

.as-placeholder {
  color: gray;
}

.as-label {
  color: #1677ff;
}

/* table antd */
.ant-table-thead .ant-table-cell {
  font-size: 14px !important;
  line-height: 10px !important;
  font-weight: 500 !important;
  color: #5A607F !important;
  border: none !important;
  border-bottom: solid 2px #E6E9F4 !important;
  background-color: white !important;
}

.ant-table-thead .ant-table-cell::before {
  width: 0 !important;
}

/* Custom name column styling */
.name-column {
  color: #000;
  font-weight: 500;
}

/* Custom date column styling */
.date-column {
  color: #696969;
}

/* Custom amount column styling */
.amount-column {
  color: #000;
  font-weight: 500;
}

/* Custom status tag styling */
.status-tag {
  /* padding: 2px 8px; */
  border-radius: 4px;
}

.status-tag.paid {
  background-color: #e0f7e0;
  color: #00c853;
}

.status-tag.pending {
  background-color: #e0e0e0;
  color: #757575;
}